* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black;  */
}

/* root variables */
:root {
  --color-bg--main: #010409 ;
  --color-bg-header:#0d1117;
  --font-color: white;
  --margin-high: 19rem;
  /* --margin-main-high: calc(100vw - calc( 100vw - 19rem)  )     ; */
  --margin-main-high: calc((100vw - 1256px) / 2);
  --border-radius-sm: 5px;
  --font-size-sm:1rem;
  --color-hover-nav:#ff6600;
  --rem-1:1rem;
  --rem-half:0.5rem;
}

.container {
  height: 100vh;
  /* color: var(--font-color); */
  /* background-color: var(); */
}
a {
  text-decoration: none;
  color: var(--font-color);
}
.icons {
  height: 3rem;
  width: 3rem;
  fill: var(--font-color);
  color: var(--font-color);
  /* background-color: aqua; */
}

.icons-sm{
  height: 1rem;
  width: 1rem;
}

.icon-visible{
  display: none;
}

/* header styling */

.header {
   background-color: var(--color-bg-header);
  padding: var(--rem-1) 0;
}

.header-container{
height: fit-content;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: 1300px;
  margin: auto;
}

.header__left {
  display: flex;
  gap: var(--rem-1);
  /* background-color: brown; */
}

.header__left-list,
.main-container__nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: var(--rem-1);
}

.header__right {
  display: flex;
  align-items: center;
  gap: var(--rem-1);
}

.header__search {
  padding:var(--rem-half) var(--rem-1);
  background: none;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: var(--border-radius-sm);
}

.header__right--secondary-btn,.secondary-btn
{
    padding:var(--rem-half) var(--rem-1);
    background: var(--color-bg-header);
    border: 1px solid var(--font-color);
    border-radius: var(--border-radius-sm);
    color: var(--font-color);
    font-size: calc(var(--font-size-sm) - 0.1rem);
}


/* main navigation styling */
.main{
  background-color: var(--color-bg--main);
  color:var(--font-color)
}

.main-container-navigation{
  /* background-color: antiquewhite; */
  border-bottom: 2px solid gray;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--rem-1) 0 0 0 ;   
    background-color: var(--color-bg--main) ;
}
.main-container__nav {
  /* background-color:yellow; */
  max-width: 1270px;
  margin:  auto;
  display: flex;
}
.main-container__nav-list li{
  display: flex;
  align-items: center;
  gap:.5rem;
    padding:var(--rem-1) 0;
    border-bottom: 2px solid transparent; /* Reserve space */
    transition: border-color 0.3s ease;   /* Smooth animation */
}
.main-container__nav-list li:hover
{
border-bottom-color: var(--color-hover-nav); /* Change only the color */
}
.main-container__nav-space {
  padding: 0 var(--rem-1);
  flex: 1;
}
.main-container__nav-content {
  flex: 3;
    padding: 0 var(--rem-1);
}

.main-wrapper {
  max-width: 1270px;
  margin: auto;
  display: flex;
}
.main-aside {
  flex: 1;
  z-index: 100;
  padding:0 var(--rem-1)
}

.main-content {
  flex: 3;
}
.aside-top {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: var(--rem-1);
  padding: var(--rem-1) 0;
  border-bottom: 2px solid white;
}
.aside-top span p {
  color: gray
}
.aside-profile {
  z-index: 2000;
  max-width: 250px;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-top: -10%;
}
.aside-follow-details {
  display: flex;
  gap: var(--rem-1);
}
.aside-follow-details span{
  display: flex;
  align-items: center;
  gap:0.2rem;
}
.aside-bottom {
  padding: var(--rem-1) 0;
}
.aside-badge{
  display: block;
  height: 5rem;
  width: 5rem;

}
/* main-right */
.main-content {
  padding: 0 1rem;
}
.main-repos {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: var(--rem-1);
}
.main-contributions {
  margin-top: var(--rem-1);
}
.main-contribution-activity {
  margin: var(--rem-1) 0 0 0;
  display: flex;
}
.main-contri-left {
  flex: 3;
}
.contribution-left {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  position: relative;
  padding: 0 var(--rem-1);

  margin: var(--rem-1) 0 0 0;
}
.contri-info {
  display: flex;
  justify-content: space-between;
}
.contri-info-desc {
  display: flex;
  gap: var(--rem-1);
}
.abs {
  position: absolute;
  top: -10px;
  left: 0;
  /* margin-bottom: var(--rem-1); */
}
.abs-left {
  position: absolute;
  left: -10px;
  top: 40px;
}

.main-contri-right {
  flex: 1;
  padding-left: var(--rem-1);
}

.contri-right--secondarybtn,
.contri-right--primarybtn {
  width: 100%;
  padding: --rem-half 0rem;
  margin-top: --rem-half;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--rem-1);
  padding: var(--rem-1) 0;
  max-width: 1270px;
  margin: auto;
}
.footer-left,
.footer-right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.footer-mid {
  display: flex;
  justify-content: space-between;
  width: 10%;
}



/* media queries fo resposniveness */
 @media (width < 980px)
 {
      .header{
        justify-content: space-between;
        padding: 0 var(--rem-1);
      }
       .header__left-list{
        display: none;
       }
       .header__right{
        display: none;
       }
       .icon-visible
       {
        display: block;
       }

      .header-small{
        display: flex;
        align-items: center;
        gap: var(--rem-1);
      }
 }